{% extends 'site/base.html' %}
{% block content %}
    <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>وبلاگ</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3 class="aler alert-primary text-center">{{ category.title }}</h3>
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'post:detail' post.slug %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.description | truncatewords:25}}</h3>
                        </a>
                        <p class="post-meta">
                            نوشته شده توسط
                            <a href="#!">آرزو</a>
                            {{ post.jpublish }}
                        </p>
                        <div>
                            {% for cat  in post.category_published.all %}
                                <a href="{% url 'post:category' cat.slug %}">#{{ cat.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <hr />
                {% endfor %}

                <!-- Pager-->
                <div class="clearfix pager-button">
                    {% if posts.has_previous %}
                        <a class="btn btn-primary float-right ml-3" href="{% url 'post:category' category.slug  %}?page={{ posts.previous_page_number }}">پست های جدید &rarr;</a>
                    {% elif posts.has_next %}
                        <a class="btn btn-primary float-right" href="{% url 'post:home' category.slug %}?page={{ posts.next_page_number }}">پست های قدیمی &larr;</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}