@font-face {
  font-family: Sahel;
  src: url('../font/Sahel.eot');
  src: url('../font/Sahel.eot?#iefix') format('embedded-opentype'),
       url('../font/Sahel.woff2') format('woff2'),
       url('../font/Sahel.woff') format('woff'),
       url('../font/Sahel.ttf') format('truetype');
  font-weight: normal;
}
body{
    direction: rtl;
    text-align: right;
    font-family: 'Sahel';
    font-size: 14px;
}

.post-preview > .post-meta{
    text-align: left;
}
.pager-button{
    float: left;!important;
}